# How_to_use_Python    
       
        
https://wikidocs.net/book/1 를 참고해서 작성 했습니다.

211024~ 세세한 것 보단 중요한 것 위주로 정리합니다.

# 기초

## 사칙연산

In [6]:
a = 3 
b = 4
print(a+b) # 더하기
print(a*b) # 곱하기
print(a/b) # 나누기
print(a**b) # 제곱

7
12
0.75
81

In [7]:
print(3%7) # 나눗셈 후 나머지를 반환하는 연산자
print(7%3)

3
1

In [8]:
7/4 # 나눗셈 후 몫을 반환하는 연산자

1.75

## 문자열에 작은 따옴표 (') 포함시키기

In [11]:
print("Python's favorite food is perl")
# 큰 따옴표로 감싸면 된다.

Python's favorite food is perl

## 백슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함시키기

In [14]:
print('python \'s favorite food is perl')

python 's favorite food is perl

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [19]:
# 방법 1
print('Life is too short \nYou need Python')
# \n을 대입하면 된다.

Life is too short
You need Python

In [22]:
# 방법 2 

multiline = '''

Life is too short 
You need Python

'''


print(multiline)

Life is too short
You need Python

## 한 줄에 결괏값 출력하기

In [27]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

## 문자열 연산하기

In [24]:
# 문자열 더해서 연결하기

head = 'Python'
tail = ' is fun!'

head + tail

'Python is fun!'

In [26]:
# 문자열 곱하기
a = 'python '
a*2

'python python '

In [27]:
# 문자열 길이 구하기

a = 'Life is too short You need Python'

len(a)

33

##  문자열 인덱싱과 슬라이싱

In [29]:
a = "Life is too short You need Python"

a=a.split(' ')
print(a)

['Life', 'is', 'too', 'short', 'You', 'need', 'Python']

In [31]:
# 파이썬은 0부터 센다.
a = "Life is too short You need Python"
a[3] # L부터 0이다. 고로 e는 3

'e'

In [34]:
# 응용

a[0:4] + a[4:8] + a[8:]

'Life is too short You need Python'

In [40]:
# 응용2

a = '20010331Rainy'

Date = a[:8]
weather = a[8:]

print(Date) #날짜
print(weather) # 날씨

20010331
Rainy

## Pithon 이라는 문자열을 Python 으로 바꾸기

In [41]:
# 방법1
a = 'Pithon'
a=a.replace('i','y')
print(a)

Python

In [52]:
# 방법2
b = 'Pithon'
# b[1]='y'

#--> 에러가 뜬다. 문자열의 요솟값은 바꿀 수 없다.
#TypeError: 'str' object does not support item assignment

# 맞는 방법 
b=b[0]+'y'+b[2:]
b

'Python'

## 문자열 포맷팅

### %s : 문자열 , %c : 문자한개, %d : 정수

In [56]:
print("I eat %d apples" %3) # 숫자
print("I eat %s apples" %'three') # 문자열

I eat 3 apples
I eat three apples

In [57]:
# 숫자 값을 나타내는 변수로 대입
number = 3 
'I eat %d apples' %number

'I eat 3 apples'

In [58]:
# 2개 이상의 값 넣기

number = 10 
day = 'three'
'I ate %d apples. so I was sick for %s' %(number,day)

'I ate 10 apples. so I was sick for three'

## 소수점 표현하기

In [59]:
# 소수점 넷째 자리까지 표현 
"%0.4f" %3.21415166

'3.2142'

In [1]:
y = 3.234145
"{0:0.4f}".format(y)

'3.2341'

## 바로 대입하기

In [62]:
'I eat {} banana'.format(3) # 숫자
'I eat {} banana'.format('hansome') # 문자열

'I eat hansome banana'

In [64]:
# 두개 이상의 값 넣기

'I eat {0} banana because I\'m {1}'.format(4,'hungry')

"I eat 4 banana because I'm hungry"

## 문자 개수 세기

In [6]:
a = 'hayeonKimm'
a.count('h') # h가 몇번 들어갔는지 세기
a.count('m') # m이 몇번 들어갔는지

2

## 위치 알려주기

In [8]:
a = 'Python is Very Good'
a.find('is') # 7에 처음 나온다.
a.find('P') # 0 자리에 나온다.

0

## 문자열 삽입

In [11]:
# ,를 기준으로 문자열 삽입
",".join('abcd')

'a,b,c,d'

## 소문자를 대문자로 바꾸기 (혹은 반대)

In [15]:
# 소 -> 대
a = 'hi'
a=a.upper()
a

# 대 -> 소

a = 'HI'
a=a.lower()
a

'hi'

## 공백지우기

In [16]:
a= '  hi'
a.lstrip() # 왼쪽 공백들을 지운다.
# 지금부터 할당은 생략.

'hi'

In [17]:
a= 'hi    '
a.rstrip() #  오른쪽 공백 제거

'hi'

## 문자열 바꾸기

In [19]:
## 문자열 바꾸기 

a= "Life is too short"
a.replace("Life","Game")

'Game is too short'

## 문자열 나누기

In [21]:
a = "Life is too short"
a.split() # 공백을 기준으로 문자열 나눔

b= "a:b:c:d"
b.split(':') # :를 기준으로 나눔

['a', 'b', 'c', 'd']

# 리스트

In [22]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

리스트의 인덱싱과 슬라이싱

리스트도 문자열처럼 인덱싱과 슬라이싱이 가능하다.

In [25]:
odd[0]
odd[0:]

[1, 3, 5, 7, 9]

더하기도 가능하다.

In [28]:
aX = [1,2,3,4,5]

aX[0]+aX[1]

3

In [36]:
ac = [1,2,3,['a','b','c']]

ac[0]
ac[3]
ac[-1]

ac[-1][0] # a 끄집어오기

'a'

## 리스트 더하기

In [37]:
a= [1,2,3]
b= [4,5,6]

a+b

[1, 2, 3, 4, 5, 6]

## 리스트 반복하기

In [39]:
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트 길이 구하기

In [40]:
len(a)

3

## 리스트에서 값 수정하기

In [45]:
a = [1,2,3]
a[2]=4

a

[1, 2, 4]

## del 함수 사용해서 리스트 요소 삭제하기

In [46]:
del a[2]
a

[1, 2]

## 리스트 요소 제거 (remove)

In [56]:
a = [1,2,3,1,2,3]
a.remove(3) # 첫 3을 제거하라.
a

[1, 2, 1, 2, 3]

## 리스트에 요소 추가 (append)

In [47]:
a.append(16)
a

[1, 2, 16]

리스트에 다시 리스트 추가하기

In [48]:
a.append([1,1,1,1])
a

[1, 2, 16, [1, 1, 1, 1]]

## 리스트 정렬

숫자 정렬

In [50]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

문자열 정렬

In [51]:
a = ['b','c','a']
a.sort()
a

['a', 'b', 'c']

## 리스트 뒤집기 reverse

In [52]:
a = ['b','c','a']
a.reverse()
a

['a', 'c', 'b']

## 위치 반환 (index)

In [53]:
a = [3,4,5]
a.index(3)
a.index(5) # 5가 있는 위치를 반환한다.

2

## 리스트에 요소 삽입(insert)

In [55]:
a = [1,2,3]
a.insert(0,4) # 0의 자리에 4 삽입
a

[4, 1, 2, 3]

## 리스트 확장하기.(extend)

In [57]:
a=[1,2,3]
a.extend([4,5,6]) # ==  a+=[4,5]
a

[1, 2, 3, 4, 5, 6]

# 튜플 (Tuple)

리스트는 그 값의 생성 삭제 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

## 인덱싱

In [60]:
t1 = (1,2,'a','b')
t1[2]

'a'

## 슬라이싱

In [61]:
t1 =(1,2,'a','b')
t1[1:]

(2, 'a', 'b')

## 사칙연산

In [62]:
# 더하기
t2 = (3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [63]:
# 곱하기

t2*3

(3, 4, 3, 4, 3, 4)

## 길이 구하기

In [64]:
t1 = (1,2,'a','b')
len(t1)

4

# 딕셔너리 자료형

기본 딕셔너리 모습   
{Key1:Value1, Key2:Value2, Key3:Value3, ...}

### 딕셔너리 만들기

In [67]:
dic = {'name':'pey', 'phone':'011-999-2323', 'birth': '0720'}
dic

{'name': 'pey', 'phone': '011-999-2323', 'birth': '0720'}

In [71]:
a = {1: 'hi'} # value 값에 문자열은 따옴표를 붙여서.
a = { 'a': [1,2,3]} # 리스트도 넣을 수 있다.
a

{'a': [1, 2, 3]}

## 딕셔너리에 쌍 추가하기

In [75]:
a = {1: 'a'}
a[2] = 'b' # 2는 키값 'b'는 밸류값.
a

{1: 'a', 2: 'b'}

In [77]:
a['name'] = 'pey'
a['hayeon'] = 'imma'
a

{1: 'a', 2: 'b', 'name': 'pey', 'hayeon': 'imma'}

## 딕셔너리 요소 제거하기

In [78]:
del a[1]
a

{2: 'b', 'name': 'pey', 'hayeon': 'imma'}

## 딕셔너리 활용 사례

리스트나 문자열로는 표현하기가 상당히 까다로울 것이다.   
   
하지만 파이썬의 딕셔너리를 사용한다면 이 상황을 표현하기가 정말 쉽다. 다음 예를 보자.

In [80]:
house_price = {'gangnam':1000,'gyeonggi':90}
house_price['gangnam']
house_price['gyeonggi']

90

### 딕셔너리 만들 때 주의할 사항   
   
먼저 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점을 주의해야 한다.
   
다음 예에서 볼 수 있듯이 동일한 Key가 2개 존재할 경우 1:'a' 쌍이 무시된다.

In [82]:
# 반복문 활용사례

a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

for i in a.keys():  # a.keys()를 통해서 key값만 불러올 수 있다.
    print(i)

name
phone
birth

In [84]:
# 다양한 도구들.
a.keys()
a.values()
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [ ]:
a.clear()

## key로 value 얻기 (get)

In [85]:
a = {'python':10,'jave':'javajjang','c++':200}
a.get('python')

10

get(x) 함수는 x라는 Key에 대응되는 Value를 돌려준다.   

앞에서 살펴보았듯이 a.get('name')은 a['name']을 사용했을 때와 동일한 결괏값을 돌려받는다.   

다만 다음 예제에서 볼 수 있듯이 a['nokey']처럼 존재하지 않는 키(nokey)로 값을 가져오려고 할 경우 a['nokey']는 Key 오류를 발생시키고 a.get('nokey')는 None을 돌려준다는 차이가 있다.       
어떤것을 사용할지는 여러분의 선택이다.

## 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [89]:
a = {'python':10,'java':'javajjang','c++':200}

'python' in a
'java' in a
'django' in a

False

# 집합 자료형

집합(set)은 파이썬 2.3부터 지원하기 시작한 자료형으로,   
집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형이다.

In [90]:
set1 = set([1,2,3])
set1

{1, 2, 3}

문자열을 넣어서 따로 분리시킬 수 있다.

In [91]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

### 집합 자료형의 특징

중복을 허용하지 않는다.
순서가 없다(Unordered).



리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다.     
   
이는 마치 02-5에서 살펴본 딕셔너리와 비슷하다. 딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다.   
   
만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한후 해야 한다.

## 교집합, 합집합, 차집합 구하기

In [92]:
>>> s1 = set([1, 2, 3, 4, 5, 6])
>>> s2 = set([4, 5, 6, 7, 8, 9])

In [93]:
# 교집합
s1 & s2

{4, 5, 6}

In [94]:
# 교집합 2
s1.intersection(s2)

{4, 5, 6}

In [96]:
# 합집합

s1|s2
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [98]:
# 차집합
s1 - s2
s1.difference(s2)

{1, 2, 3}

## 값 1개 추가하기 (add)

In [99]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

## 값 여러 개 추가하기(update)

In [100]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

## 특정 값 제거하기(remove)

In [101]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

# 불 자료형

불 자료형은 간단히 요약하겠다.

In [103]:
# 값이 있으면 참 , 없으면 거짓

a = [1, 2, 3, 4]
while a: # 이 부분.
    print(a.pop())

4
3
2
1

In [104]:
# 이해에 도움되는 예시 
# []안에 값이 있으면 참 , 아니면 거짓
if []:
    print("참")
else:
    print("거짓")

거짓

# if

if 조건문에서 "조건문"이란 참과 거짓을 판단하는 문장을 말한다.

## and, or, not
조건을 판단하기 위해 사용하는 다른 연산자로는 and, or, not이 있다.   
각각의 연산자는 다음처럼 동작한다.

In [105]:
#돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 그렇지 않으면 걸어가라.

money = 2000
card = True

if money>=3000 or card:
    print('택시를 타라')
    
else: 
    print('걸어가라')

택시를 타라

## x in s, x not in s

In [106]:
1 in [1,2,3]
1 not in [1,2,3]

False

In [113]:
# "만약 주머니에 돈이 있으면 택시를 타고, 없으면 걸어 가라."


pocket = ['paper','cellphone','money']

if 'money' in pocket:
    print('택시를 타자')
    
else: print('걸어가자...')

택시를 타자

[조건문에서 아무 일도 하지 않게 설정하고 싶다면?]

가끔 조건문의 참, 거짓에 따라 실행할 행동을 정의할 때, 아무런 일도 하지 않도록 설정하고 싶을 때가 있다.

In [112]:
# "주머니에 돈이 있으면 가만히 있고 주머니에 돈이 없으면 카드를 꺼내라."


pocket = ['money','cellphone']

if 'money' in pocket:
    pass # pass 가 아무것도 안하는 코드다.

else: print('카드를 꺼내라~')

## 다양한 조건을 판단하는 elif

In [114]:
# "주머니에 돈이 있으면 택시를 타고, 주머니에 돈은 없지만 카드가 있으면 택시를 타고, 돈도 없고 카드도 없으면 걸어 가라."

pocket = ['money','card','cellphone']

if 'money' in pocket:
    print('Take a taxi')
    
elif 'card' in pocket:
    print('Take a taxi')
    
else: print('걸어가라')

Take a taxi

## 조건부 표현식

In [117]:
score=70

if score >= 60:
    message = 'success'
else:
    message ='failure'
    
print(message)

success

In [119]:
# 위의 코드를 한 줄로 표현 할 수도 있다.
message = "success" if score >= 60 else "failure"
message

'success'

# while문

반복해서 문장을 수행해야 할 경우 while문을 사용한다.   
그래서 while문을 반복문이라고도 부른다.

In [121]:
# 예시1

treeHit=0
while treeHit <10: # treeHit이 10 이하 일 때 작동.
    treeHit+=1
    print('나무를 %d번 찍었습니다.'%treeHit)
    
    if treeHit==10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

위 예에서 while문의 조건문은 treeHit < 10이다.    
즉 treeHit가 10보다 작은 동안에 while문 안의 문장을 계속 수행한다.    
   
whlie문 안의 문장을 보면 제일 먼저 treeHit = treeHit + 1로 treeHit 값이 계속 1씩 증가한다.    
   
그리고 나무를 treeHit번만큼 찍었음을 알리는 문장을 출력하고 treeHit가 10이 되면 "나무 넘어갑니다."라는 문장을 출력한다.
그러고 나면 treeHit < 10 조건문이 거짓이 되므로 while문을 빠져나가게 된다.

In [124]:
# 예시2

prompt = """

1. Add
2. Del
3. List
4. Quit

Enter number: """

while문을 보면 number가 4가 아닌 동안 prompt를 출력하고 사용자로부터 번호를 입력받는다.    
   
다음 결과 화면처럼 사용자가 값 4를 입력하지 않으면 계속해서 prompt를 출력한다.

In [125]:
number = 0
while number!=4:
    print(prompt)
    number=int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
1


1. Add
2. Del
3. List
4. Quit

Enter number:
2


1. Add
2. Del
3. List
4. Quit

Enter number:
3


1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [127]:
# while문 강제로 빠져나가기 (break)


coffee = 10
money = 300

while money:
    print('돈을 받았으니 커피를 줍니다.')
    coffee = coffee -1
    print('남은 커피의 양은 %d개입니다.'%coffee)
    
    if coffee == 0:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [128]:
#예시3 (자판기 실제 작동 과정과 비슷함.)

coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 10개 입니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 540
거스름돈 240를 주고 커피를 줍니다.
돈을 넣어 주세요: 666
거스름돈 366를 주고 커피를 줍니다.
돈을 넣어 주세요: 6666
거스름돈 6366를 주고 커피를 줍니다.
돈을 넣어 주세요: 66565
거스름돈 66265를 주고 커피를 줍니다.
돈을 넣어 주세요: 151515
거스름돈 151215를 주고 커피를 줍니다.
돈을 넣어 주세요: 51515
거스름돈 51215를 주고 커피를 줍니다.
돈을 넣어 주세요: 55555
거스름돈 55255를 주고 커피를 줍니다.
돈을 넣어 주세요: 55555
거스름돈 55255를 주고 커피를 줍니다.
돈을 넣어 주세요: 5555525
거스름돈 5555225를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [135]:
# while문의 맨 처음으로 돌아가기


a = 0

while a <10:
    a+=1
    
    if a %2 ==0: continue  # continue는 while문으로 다시 돌아가게 한다.
    print(a) # 이 부분은 띄어쓰기를 안한다.

1
3
5
7
9

## 무한 루프

무한 루프란 무한히 반복한다는 의미이다.   

우리가 사용하는 일반 프로그램 중에서 무한 루프 개념을 사용하지 않는 프로그램은 거의 없다.   
그만큼 자주 사용한다는 뜻이다.

while문의 조건문이 True이므로 항상 참이 된다.   
   
따라서 while문 안에 있는 문장들은 무한하게 수행될 것이다.
   
다음의 무한 루프 예이다.

In [3]:
while True:
    print("Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.")

()

# 함수

함수는 들어온 입력값을 받아 어떤 처리를 하여 적절한 결괏값을 돌려준다.

파이썬 함수의 구조


def 함수명(매개변수):   
    <수행할 문장1>   
    <수행할 문장2>   
    ...

In [5]:
# 예시

def add(a, b): 
    return a + b

add(1,3)

4

## 매개변수와 인수

매개변수(parameter)와 인수(arguments)는 혼용해서 사용되는 헷갈리는 용어이므로 잘 기억해 두자.   

매개변수는 함수에 입력으로 전달된 값을 받는 변수를 의미하고 인수는 함수를 호출할 때 전달하는 입력값을 의미한다.

In [ ]:
def add(a, b):  # a, b는 매개변수
    return a+b

print(add(3, 4))  # 3, 4는 인수

입력값이 없는 함수

In [8]:
def say():
    return 'Hi'
say()

'Hi'

In [10]:
def add(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [13]:
a=add(3,4)
print(a)

3, 4의 합은 7입니다.
None

아마도 여러분은 ‘3, 4의 합은 7입니다.’라는 문장을 출력해 주었는데 왜 결괏값이 없다는 것인지 의아하게 생각할 것이다.   

이 부분이 초보자들이 혼란스러워하는 부분이기도 한데 print문은 함수의 구성 요소 중 하나인 <수행할 문장>에 해당하는 부분일 뿐이다.
   

결괏값은 당연히 없다. 결괏값은 오직 return 명령어로만 돌려받을 수 있다.

## *여러 개의 입력값을 받는 함수 만들기

In [15]:
def add_many(*args):
    result=0
    for i in args:
        result+=i
    return result

add_many(1,2,3)

6

## 키워드 파라미터 kwargs

입력값 a=1 또는 name='foo', age=3이 모두 딕셔너리로 만들어져서 출력된다는 것을 확인할 수 있다. 즉 **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 그 딕셔너리에 저장된다.

In [16]:
def print_kwargs(**kwargs):
    print(kwargs)

## [return의 또 다른 쓰임새]

특별한 상황일 때 함수를 빠져나가고 싶다면 return을 단독으로 써서 함수를 즉시 빠져나갈 수 있다. 다음 예를 보자.

In [19]:
def say_nick(nick):
    if nick == '바보':
        return
    
    print('나의 별명은 %s 입니다.'%nick)
    
say_nick('아하하')

나의 별명은 아하하 입니다.

## 매개변수에 초깃값 미리 설정하기

In [20]:
def say_myself(name,old,man=True):
    
    # man이 바로 초기값이다.
    
    print('나의 이름은 %s입니다.'%name)
    print('나이는 %d살입니다.'%old)
    
    if man:
        print('남자입니다.')
    
    else:
        print('여자입니다.')

In [21]:
say_myself('하연',28)

나의 이름은 하연입니다.
나이는 28살입니다.
남자입니다.

In [22]:
say_myself('하연',28,False)

나의 이름은 하연입니다.
나이는 28살입니다.
여자입니다.

## 함수 안에서 함수 밖의 변수를 변경하는 방법

In [ ]:
return 사용하기

def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

In [ ]:
global 명령어 사용하기

a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

## lambda

보통 함수를 한줄로 간결하게 만들 때 사용한다. 우리말로는 "람다"라고 읽고 def를 사용해야 할 정도로 복잡하지 않거나 def를 사용할 수 없는 곳에 주로 쓰인다.

In [23]:
add = lambda a,b :a+b
result = add(3,4)

print(result)

7

# 파일 읽고 쓰기

파일 생성하기

다음 소스 코드를 에디터로 작성해서 저장한 후 실행해 보자. 프로그램을 실행한 디렉터리에 새로운 파일이 하나 생성된 것을 확인할 수 있을 것이다.

In [28]:
f = open("새파일.txt", 'w')
f.close()

r	읽기모드 - 파일을 읽기만 할 때 사용   
w	쓰기모드 - 파일에 내용을 쓸 때 사용   
a	추가모드 - 파일의 마지막에 새로운 내용을 추가 시킬 때 사용

파일을 쓰기 모드로 열면 해당 파일이 이미 존재할 경우 원래 있던 내용이 모두 사라지고, 해당 파일이 존재하지 않으면 새로운 파일이 생성된다. 위 예에서는 디렉터리에 파일이 없는 상태에서 새파일.txt를 쓰기 모드인 'w'로 열었기 때문에 새파일.txt라는 이름의 새로운 파일이 현재 디렉터리에 생성되는 것이다.

만약 새파일.txt 파일을 C:/doit 디렉터리에 생성하고 싶다면 다음과 같이 작성해야 한다.

f = open("C:/doit/새파일.txt", 'w')   
f.close()

In [31]:
# 파일을 쓰기 모드로 열어 출력값 적기

f = open("새파일.txt",'w')

for i in range(1,11):
    data = '%d번째 줄입니다.\n'%i
    f.write(data)
f.close()

In [ ]:
readline 함수 이용하기
첫 번째 방법은 readline 함수를 사용하는 방법이다. 

# readline_test.py
f = open("C:/doit/새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

In [ ]:
만약 모든 줄을 읽어서 화면에 출력하고 싶다면 다음과 같이 작성하면 된다.

# readline_all.py
f = open("C:/doit/새파일.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

In [ ]:
read 함수 사용하기
세 번째 방법은 read 함수를 사용하는 방법이다. 다음 예를 보자.

f = open("C:/doit/새파일.txt", 'r')
data = f.read()
print(data)
f.close()

In [ ]:
# 파일에 새로운 내용 추가하기


# adddata.py
f = open("C:/doit/새파일.txt",'a')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

## 자동저장 with

In [ ]:
with open("foo.txt", "w") as f:
    f.write("Life is too short, you need python")

## 데이터프레임 만들기

In [2]:
import pandas as pd
df = pd.DataFrame({'size':[100055,21512,25252] ,'bottom':[8882828,12525,12322]},index=['a','b','c'])

In [18]:
df

     size   bottom
a  100055  8882828
b   21512    12525
c   25252    12322